.card {
  margin: 0pt 20pt 20pt 20pt;
  width: clamp(350px, 70%, 850px);
}

#dailyChallenges-go-here {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  max-height: 0px; /* Start collapsed with max-height 0 */
  overflow: hidden;
  padding: 0 15px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.card-header {
  cursor: pointer;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.card-header .finish_button {
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
}

.card-header .title {
  grid-row: 1;
}

.card-header .description {
  grid-row: 2;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh + 348.188px);
}

main {
  padding: 75px 0 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  #h1-container {
    width: 100%;
    padding: 0 0 50px 15%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 3rem;
    }
  }

  .container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
main.hidden {
  display: none;
}

header,
#footer-nav,
#footer {
  flex-shrink: 0;
}

.card-body img {
  width: 100%; /* Ensure the image takes the full width of the container */
  height: 100%; /* Ensure the image takes the full height of the container */
  object-fit: cover; /* Cover the container without stretching */
  border-radius: 5px; /* Optional: adds rounded corners to the image */
}

.image-clip {
  overflow: hidden;
  border-radius: 5pt;
  height: 200pt;
  width: 100%; /* Optional: Ensures the clip container spans the full width */
}

.coin {
  max-width: 25px;
  filter: brightness(0) /* Make black */ sepia(1) /* Give it a color tone to rotate */
    hue-rotate(90deg) /* Rotate towards green (adjust this value!) */ saturate(500%)
    /* Boost saturation (adjust!) */ brightness(110%); /* Adjust brightness (adjust!) */
}

@media (max-width: 810px) {
  main .container #h1-container h1 {
    font-size: 2.8rem;
  }
}
