.card {
  margin: 0pt 20pt 20pt 20pt;
  margin-bottom: 20pt;
}

.card-body {
  max-height: 0px; /* Start collapsed with max-height 0 */
  overflow: hidden;
  padding: 0 15px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.card-header {
  cursor: pointer;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.card-header .finish_button {
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
}

.card-header .title {
  grid-row: 1;
}

.card-header .description {
  grid-row: 2;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding: 0 0 50px 0;
}

main {
  padding: 75px 0 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    padding: 0;
    margin: 0;
  }
}

.card-body img {
  width: 100%; /* Ensure the image takes the full width of the container */
  height: 100%; /* Ensure the image takes the full height of the container */
  object-fit: cover; /* Cover the container without stretching */
  border-radius: 5px; /* Optional: adds rounded corners to the image */
}

.image-clip {
  overflow: hidden;
  border-radius: 5pt;
  height: 200pt;
  width: 100%; /* Optional: Ensures the clip container spans the full width */
}

.coin {
  width: 10pt;
}

@media (max-width: 770px) {
  #h1-container {
    text-align: center;
  }
}
