html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

main {
  flex: 1;
}

#footer {
  color: white;
  text-align: center;
  margin-top: auto;
}

.gbtn{
  background-color: var(--green-primary);
  border: 0pt;
}
.gbtn:hover{
  background-color: var(--green-accent-primary);
  border: 0pt;
}