html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
}

#footer {
  color: white;
  text-align: center;
  margin-top: auto;
}

.gbtn {
  background-color: var(--green-primary);
  border: 0pt;
}
.gbtn:hover {
  background-color: var(--green-accent-primary);
  border: 0pt;
}

.form-control {
  border: 1px solid var(--green-primary);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.825rem;
  color: var(--black);
  background-color: transparent;
}

.form-control:focus {
  border: 1px solid var(--green-primary);
  box-shadow: 0pt 0pt 0pt 2pt var(--green-accent-secondary-transparent); /* Optional glow effect */
  outline: none;
}
.form-control:disabled {
  background-color: var(--white);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
