/* Hide navbar unless on phone */
.footer-navbar {
    content-visibility: hidden;
}
@media only screen and (max-width: 810px) {
/* Navbar Bottom */ 
.footer-navbar {
    content-visibility: visible;
    background-color: var(--green-primary);

    a {
        font-size: 200%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
}