#nav {
  background-image: linear-gradient(to left, var(--green-accent-primary), var(--green-secondary));
}

.navbar-brand,
.nav-link {
  color: var(--white);
}
.nav-link {
  border-radius: 5px;
  padding: 15px;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 13px;
  left: 7%;
  background-color: var(--green-accent-primary);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}
.nav-link:hover {
  /* background-color: var(--white) !important; */
  color: var(--green-accent-primary);
}
.nav-link:hover::after {
  transform: scaleX(0.85);
  transform-origin: bottom left;
}

.navbar-toggler-icon {
  filter: invert(100%); /* Makes the toggler (☰) white */
}

.form-control {
  border-radius: 5px !important; /* Adjust the roundness of input */
}

.btn {
  border-radius: 5px !important; /* Adjust the roundness of button */
}

/* Dropdown Menu */
.dropdown-menu {
  background-color: var(--green-accent-primary); /* Use accent green */
  right: 0;
}

.dropdown-item {
  color: var(--white) !important;
}

.dropdown-item:hover {
  background-color: var(--green-accent-secondary) !important;
}

#profileDropdown img {
  transition: transform 0.3s ease-in-out;
}
#profileDropdown img:hover {
  transform: scale(1.1); /* Increase size */
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  display: block; /* Override Bootstrap's instant hiding */
  visibility: hidden;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(10px);
  visibility: visible;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Hide dropdown after animation */
.dropdown-menu.hiding {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  visibility: hidden;
}

#profileDropdown:hover {
  background-color: transparent;
}
#profileDropdown {
  background-color: transparent;
}
#profile .dropdown-menu {
  background: linear-gradient(45deg, var(--green-accent-primary), var(--green-primary) 200%);
  border: 0;
}
#profile .dropdown-menu li {
  padding: 0 4pt;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--white) !important;
  border-radius: 5pt;
  color: black !important;
}

.lucide {
  width: 40px;
  height: 40px;
  stroke-width: 1.5px;
}

.profile-image {
  display: none;
}
