#nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, var(--green-accent-primary), var(--green-secondary));

  #links {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 14%;
    gap: 10px;

    #nav-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin: 0;
      padding: 10px;
      list-style: none;

      li {
        align-self: center;
      }
    }
  }
}

@media (max-width: 810px) {
  #nav-bar {
    display: none;
  }
}

.nav-link {
  border-radius: 100px;
  padding: 5px 13px 5px 13px !important;
  position: relative;
  color: var(--white);
  background-color: transparent !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--white) !important;
  color: black !important;
}

.form-control {
  border-radius: 5px !important; /* Adjust the roundness of input */
}

.btn {
  border-radius: 5px !important; /* Adjust the roundness of button */
}

/* Dropdown Menu */
.dropdown-menu {
  background-color: var(--green-accent-primary); /* Use accent green */
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  visibility: hidden;
}

.dropdown-item {
  color: var(--white) !important;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: var(--green-accent-secondary) !important;
}

#profileDropdown img {
  transition: transform 0.3s ease-in-out;
}
#profileDropdown img:hover {
  transform: scale(1.1); /* Increase size */
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(10px);
  visibility: visible;
  transition: all 0.3s ease-out;
}

/* Hide dropdown after animation */
.dropdown-menu.hiding {
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.3s ease-out;
  visibility: hidden;
}

#profileDropdown:hover {
  background-color: transparent;
}
#profileDropdown {
  background-color: transparent;
}
#profile {
  padding-right: 14%;
}
#profile .dropdown-menu {
  background: linear-gradient(45deg, var(--green-accent-primary), var(--green-primary) 200%);
  border: 0;
}
#profile .dropdown-menu li {
  padding: 0 4pt;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--white) !important;
  color: black !important;
}

.lucide {
  width: 40px;
  height: 40px;
  stroke-width: 1.5px;
}

.profile-image {
  display: none;
}
